app:
  version: v2
spring:
  application:
    name: sbkst
  kafka:
    bootstrap-servers: localhost:9092
    streams:
      bootstrap-servers: ${spring.kafka.bootstrap-servers}
      client-id: ${spring.application.name}-streamsClientId
      auto-startup: true
      properties:
        default:
          deserialization:
            exception:
              handler: org.apache.kafka.streams.errors.LogAndContinueExceptionHandler
        num:
          stream:
            threads: 4
        topology:
          optimization: all
        processing:
          guarantee: exactly_once
schema:
  registry:
    url: http://localhost:8081
topic:
  prefix: ${spring.application.name}
  commands: ${topic.prefix}.commands.${app.version}
logging:
  level:
    ro:
      go:
        adrhc: debug
    org:
      springframework:
        kafka:
          config:
            StreamsBuilderFactoryBean: debug
          listener: info
      apache:
        kafka: info
